##############################
## Java
##############################
.mtj.tmp/


##############################
## Maven
##############################
target/

##############################
## Gradle
##############################
bin/
build/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
